
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title%} other {% endblock title%}</title>
	{% block corecss%}

	<link rel="stylesheet" type="text/css" href="{% static 'core/fontawesome/css/all.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'core/css/core.css' %}">
	
	{% endblock corecss%}
</head>
<body>
	<nav>
		<ul>
			<!--  refer to the urlpattern to link the pages -->
			<li><a href="/">home</a></li>

			<!-- this will not work bcoz  /about is changed to /about-us in the urls.py  -->
			<li><a href="/about">about</a></li> 

			<!-- this will not work bcoz  /django is changed to /djangooo in the urls.py  -->
			<li><a href="/cor/django">django course</a></li>
	<!-- 		<li><a href="{{abc}}">about</a></li>  -->



			<!-- this will work if we change the url of the page from /about to /about-us in the urls.py file bcoz here we are using the name i.e aboutus to link the page --> 
			<li><a href="{% url 'aboutus' %}">about</a></li> 

		
			<li><a href="{% url 'courseone' %}">new django course</a></li>

		<!-- 	or we can write this like this both are right -->
<!-- 
				{% url 'courseone' as co %}
			<li><a href="{{co}}">new django course</a></li> -->
		</ul>
		<button class="btn btn-primary"> test</button>
	</nav>

	{% block content %} {% endblock content %}


<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<i class="fas fa-air-freshener"></i>



<script type="text/javascript" src="{% static 'core/bootstrap/js/jquery-3.5.1.js'%}"></script>
<script type="text/javascript" src="{% static 'core/bootstrap/js/popper.js'%}"></script>
<script type="text/javascript" src="{% static 'core/bootstrap/js/bootstrap.js'%}"></script>
<script type="text/javascript" src="{% static 'core/fontawesome/js/all.min.js'%}"></script>
</body>
</html>